<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style type="text/css">
        .wrapper {
            width: 90%;
        }
        header, footer {
            float: right;
            position: static;
        }
        section {
            width: 100%;
        }
    </style>
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

<p>
	<input id="invoker" type="button" value=" more... " onclick="reload_page()">
</p>

      </section>

<script type="text/javascript">

var further_pages = [
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step1-CreateAndShow/README.md",
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step2-GetSections/README.md",
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step3-WhichSection/README.md",
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step4-SolvedSudoku/README.md",
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step5-IntroducingIndices/README.md",
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step6-UnsolvedSudoku/README.md",
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step7-DifferentIndices/README.md",
	"https://raw.githubusercontent.com/mentalmove/SudokuGenerator/Step8-SquareRules/README.md"
];

function content_loaded (receiveReq, element) {
        if ( receiveReq.readyState == 4 && (receiveReq.response || receiveReq.responseText) ) {
            var response = receiveReq.response || receiveReq.responseText;
            if ( receiveReq.status && receiveReq.status >= 400 ) {
                reload_page();
                return;
            }

			var interesting = response.replace(/(####)(.*)/g, "<br><br><h4>$2</h4>");
			interesting = interesting.replace(/(###)(.*)/g, "<br><br><h3>$2</h3>");
			interesting = interesting.replace(/(##)(.*)/g, "<br><br><h1>$2</h1>");
			interesting = interesting.replace(/(\`\`\`c?)([^\`]+)\`\`\`/g, "<pre>$2</pre>");
			interesting = interesting.replace(/(\`)([^\`]+)\`/g, "<code>$2</code> ");
			interesting = interesting.replace(/(\n> > )(.*)/g, "\n> &nbsp;&nbsp;&nbsp;&nbsp;$2");
			interesting = interesting.replace(/(\n> )(.*)/g, "\n<b>$2</b>");
			interesting = interesting.replace(/([\(\s])(_)([^_]+)(_)/g, "$1<i>$3</i>");
			interesting = interesting.replace(/(\*\*)([\w\s_]+)(\*\*)/g, "<b>$2</b>");
			interesting = interesting.replace(/---\n\n/g, "<hr>\n");

            element.innerHTML = interesting;
            setTimeout(reload_page, 333);
        }
    }
    function load_content (url, element) {
        var receiveReq = new XMLHttpRequest();
        if ( receiveReq.readyState == 4 || receiveReq.readyState == 0 ) {
            receiveReq.open("GET", url, true);
            receiveReq.onreadystatechange = function () {
                content_loaded(receiveReq, element);
            };
            receiveReq.send(null);
        }
    }

	function reload_page () {

		if ( !further_pages.length )
			return;
		var invoker = document.getElementById("invoker");
		if ( invoker )
			invoker.parentNode.removeChild(invoker);

		var section = document.getElementsByTagName("section")[0];
		var new_zone = document.createElement("span");
		new_zone.style.whiteSpace = "pre-wrap";
		section.appendChild(new_zone);

		var page = further_pages.shift();
		
		load_content(page, new_zone);
	}
</script>

      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}?tab=repositories">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
